Datapoller V2/Datapoller V2/force-app/main/default/flows/Data_Fetcher_Test_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>allAccounts</name>
        <choiceText>All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SELECT BillingCity, Id, Name, Phone FROM Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>arizonaAccounts</name>
        <choiceText>Arizona Accounts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SELECT BillingCity, Id, Name, Phone FROM Account WHERE BillingState = &apos;Arizona&apos;</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <formulas>
        <name>url</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340},FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <interviewLabel>Data Fetcher Test Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Fetcher Test Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flex_Card_Screen</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display_Outputs</name>
        <label>Display Outputs</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;Single Value: {!flexCards.value}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Multiple Values: {!flexCards.selectedRecordIds}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flex_Card_Screen</name>
        <label>Flex Card Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Display_Outputs</targetReference>
        </connector>
        <fields>
            <name>Choose_Account_Collection</name>
            <choiceReferences>arizonaAccounts</choiceReferences>
            <choiceReferences>allAccounts</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>allAccounts</defaultSelectedChoiceReference>
            <fieldText>Choose Account Collection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dataFetcher</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>Choose_Account_Collection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>flexCards</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:fsc_flexcardFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectAPIName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Billing Address&quot;,&quot;name&quot;:&quot;BillingAddress&quot;,&quot;type&quot;:&quot;ADDRESS&quot;,&quot;hidden&quot;:false},{&quot;label&quot;:&quot;Account Phone&quot;,&quot;name&quot;:&quot;Phone&quot;,&quot;type&quot;:&quot;PHONE&quot;,&quot;hidden&quot;:false},{&quot;label&quot;:&quot;Account Type&quot;,&quot;name&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;PICKLIST&quot;,&quot;hidden&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionDisplayType</name>
                <value>
                    <stringValue>menu</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flows</name>
                <value>
                    <stringValue>[]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isClickable</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowMultiSelect</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_transitionOnClick</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Actions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardSizeString</name>
                <value>
                    <numberValue>500.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>records</name>
                <value>
                    <elementReference>dataFetcher.retrievedRecords</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>label</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px;&quot;&gt;I present to you Flow Flex Cards!!!🎆🎇🔥🔥🔥🎉🎉🍾🍾&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
